<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViolinEsque"
        tools:targetApi="33">
        <activity
            android:name=".LayoutConfigActivity"
            android:exported="false"
            android:label="@string/title_activity_layout_config"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ViolinEsque" />
        <activity
            android:name=".CalibrationSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_calibration_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ViolinEsque" />
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ViolinEsque" />
        <activity
            android:name=".PlayModeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ViolinEsque">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>